
:root {
    --title-color: #c71585;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5; /* Lavender blush */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffb6c1; /* Light pink */
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

nav {
    background: #f699a6; /* Pink */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    width: 100%;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: #f08080; /* Light coral */
}

section {
    background-color: #fff;
    padding: 40px 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--title-color);
}

a {
    color: var(--title-color);
}

footer {
    background: #ffb6c1;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

#about p{
    text-align: justify;
}

@media only screen and (max-width: 500px) {
    header {
        background-color: seagreen;
    }
    #about {
        display: none;
    }
}
